Source: sp-rtrace
Priority: extra
Maintainer: Kiryl Shutsemau <kiryl.shutsemau@nokia.com>
Build-Depends: debhelper (>= 5), autoconf, automake, libtool, doxygen, binutils-dev, libglib2.0-dev
Standards-Version: 3.8.0
Section: utils

Package: libsp-rtrace-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsp-rtrace1-1 (= ${binary:Version}), python
Description: Development files for using resource consumption tracing support library.
 This package contains headers, manuals and symbolic links to use the resource
 consuption tracing support library (libsp-rtrace1).

Package: libsp-rtrace1-1
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Resource consumption tracing support library. 
 This library allows third party applications to use function allocation
 contexts and API to generate resource consumption tracing (sp-rtrace) text
 format compatible reports.

Package: libsp-rtrace1-1-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libsp-rtrace1-1 (=${binary:Version})
Description: Debug symbols for resource consumption tracing support library.
 This package contains debug symbols for resource consumption tracing
 support library (libsp-rtrace1).
 
Package: sp-rtrace
Section: utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libsp-rtrace1-1 (= ${binary:Version})
Description: Resource consumption tracing toolset. 
 This package provides tools for tracing allocation and deallocation of various
 resources (for example memory, memory transfers etc), and post-processing
 of the resulting traces.

Package: sp-rtrace-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, sp-rtrace (=${binary:Version})
Description: Debug symbols for resource consumption tracing toolset.
 This package provides debug symbols for resource consuption tracing toolset
 (sp-rtrace).
 
Package: sp-rtrace-visualize
Section: utils
Architecture: any
Depends: ${misc:Depends}, sp-rtrace, python, graphviz, gnuplot-nox
Description: Post-processing/visualization scripts for rtrace format files.
 This package contains various post-processing and visualization scripts
 for rtrace text format reports. The scripts also uses rtrace post-processor/
 resolver.
